@import 'color';

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #dde0e2;
}
.clase3 {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #656565;
}



.btn-block {
  background-color: #007bff;
  width: 100%;
}
 @mixin text-styles($color) {
  color: $color;
  font-size: 30px;
}

.billing-address {
  @include text-styles($text-color);
}

.your-cart {
  @include text-styles(rgb(112, 112, 112));// Color diferente para Your Cart
}

.payment {
  @include text-styles($text-color);
}
